table {
  width: 100%;
}
.card {
  padding: 1rem;
  margin-right: 0; /* Ensure no extra margin on the right */
  display: flex; /* Add this line */
  align-items: center; /* Add this line */
  justify-content: flex-end; /* Add this line */
}
.custom-button {
  margin: 0 0.5rem; /* Margen en los lados de cada botón */
  font-weight: 300; /* Hacer las letras más delgadas */
  font-size: 0.9rem; /* Tamaño de fuente más pequeño */
  font-family: Arial, sans-serif; /* Tipo de letra Arial */
}


h4 {
  white-space: nowrap; /* Evitar el salto de línea */
   /* Ocultar el texto que se desborda */
  text-overflow: ellipsis; /* Mostrar puntos suspensivos si el texto se desborda */
  margin: 0; /* Eliminar márgenes para un mejor ajuste */
}


.p-input-icon-left {
  margin-left: auto; /* Add this line to push the search input field to the left */
}
.paginator-container {
  display: flex;
  justify-content: flex-end; /* Alinea el contenido al final (derecha) */
  margin-top: 10px; /* Ajusta el margen superior si es necesario */
  font-size: 0.8rem; /* Tamaño de fuente más pequeño */
}


.centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-text h2 {
  text-align: center;
  color: gainsboro; /* Color del texto */
  font-size: 2.5rem; /* Tamaño de fuente ajustable */
}

/* CSS para los puntos de estado */
.status-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.green {
  background-color: green;
}

/* CSS para la barra de progreso */
.status-progress .p-progressbar-value {
  height: 4px; /* Reducir la altura */
  background-color: orange; /* Color de fondo de la barra de progreso */
}

.status-progress .p-progressbar-label {
  font-size: 12px; /* Tamaño de la fuente del texto en la barra de progreso */
}

/* .container-button {
  justify-content: right;
  margin-right: 20px;
} */
