<table mat-table #table [dataSource]="dataSource">

    <!-- <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
        </ng-container> -->
    <ng-container matColumnDef="id_usuario">
        <th mat-header-cell *matHeaderCellDef>Usuario</th>
        <td mat-cell *matCellDef="let row">{{row.id_usuario}}</td>
    </ng-container>
    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre del Proyecto</th>
        <td mat-cell *matCellDef="let row">{{row.nombre}}</td>
    </ng-container>
    <ng-container matColumnDef="numero_registros">
        <th mat-header-cell *matHeaderCellDef>N. de Registros</th>
        <td mat-cell *matCellDef="let row">{{row.numero_registros}}</td>
    </ng-container>
    <ng-container matColumnDef="resultado_proceso">
        <th mat-header-cell *matHeaderCellDef>Resultado de Geocodificación</th>
        <td mat-cell *matCellDef="let row">{{row.resultado_proceso}}</td>
        <!-- <td>
<div class="card">
    <p-toast></p-toast>
    <p-progressBar [value]="50"></p-progressBar>
</div>
        </td> -->

    </ng-container>
    <ng-container matColumnDef="fecha_creacion">
        <th mat-header-cell *matHeaderCellDef>Fecha de Creación</th>
        <td mat-cell *matCellDef="let row">{{row.fecha_creacion | date: 'dd MM yyyy'}}</td>
    </ng-container>
    <ng-container matColumnDef="fecha_geocodificacion">
        <th mat-header-cell *matHeaderCellDef>Fecha de Geocodificación</th>
        <td mat-cell *matCellDef="let row">{{row.fecha_geocodificacion | date: 'dd MM yyyy'}}</td>
    </ng-container>
    <ng-container matColumnDef="estatus_geocodificacion">
        <th mat-header-cell *matHeaderCellDef>Estatus de Geocodificación</th>
        <td mat-cell *matCellDef="let row">{{row.estatus_geocodificacion}}</td>
    </ng-container>
    <!-- Add the header row and rows here -->
    <tr mat-header-row *matHeaderRowDef="tableDisplayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: tableDisplayColumns;"></tr>
</table>