#map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    z-index: 0;
}

.info-panel {
    position: absolute;
    top: 55px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 20px;
    border-radius: 12px;
    z-index: 1000;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 410px;
    max-width: 90%;
    max-height: 90vh;
    overflow-y: auto;
}

.panel-title {
    margin-bottom: 20px;
    text-align: center;
    color: #2196F3;
    font-weight: 600;
    font-size: 1.5em;
}

:host ::ng-deep .p-tabview .p-tabview-panels {
    padding: 1rem 0;
}

:host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background-color: #2196F3;
    color: #ffffff;
}

:host ::ng-deep .p-datatable .p-datatable-thead>tr>th {
    background-color: #f1f8fe;
    color: #2196F3;
    font-weight: 600;
}

:host ::ng-deep .p-datatable .p-datatable-tbody>tr {
    cursor: pointer;
    transition: background-color 0.2s;
}

:host ::ng-deep .p-datatable .p-datatable-tbody>tr:hover {
    background-color: #e3f2fd !important;
}

:host ::ng-deep .p-paginator {
    justify-content: center;
}

.georesultado-badge {
    background-color: #2196F3;
    color: white;
    padding: 2px 6px;
    border-radius: 12px;
    font-size: 0.85em;
}

.legend {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color:#373A40;
    padding: 10px 10px;
    border-radius: 8px;
    z-index: 1000;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.legend-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin: 0 8px;
    cursor: pointer;
    white-space: nowrap;
    padding: 4px 8px;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.legend-color {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 6px;
    flex-shrink: 0;
}

.legend-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.all-item {
    font-weight: bold;
}

:host ::ng-deep .p-dialog {
    position: fixed !important;
    right: 1vw !important;
    top: 2vh !important;
    bottom: 2vh;
    margin: 0 !important;
    height: 96vh !important;
    max-height: 96vh !important;
    overflow-y: auto;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-container p-button {
    margin: 0 5px;
}

.editing-input {
    border-color: #FFA500 !important;
    border-width: 0.12rem;
}